.button {
  background-color: #db9471 !important;
  border-radius: 4px !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  padding: 10px 16px !important;
  border-color: #db9471 !important;
}

/*Hover with mouse*/
.button:hover {
  background-color: #db9471 !important;
  border-color: #db9471 !important;
}

/*selected */
.button:focus {
  background-color: #f6dec5 !important;
  border-color: #db9471 !important;
}

.button-text {
  color: #f6dec5 !important;
}

.dropdown-content {
  /* dropdownItems */

  /* Auto Layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;

  /* /Gray / White */
  background: #ffffff;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 2px 0px;
}

.dropdown-content:hover {
  background-color: #7465134f;
}

.dropdown-content:focus {
  background-color: #746513;
}
