.button {
  background-color: #db9471 !important;
  border-radius: 4px !important;
  display: inline !important;
  align-items: center !important;
  padding: 10px 16px !important;
  border-color: #db9471 !important;
}

/*Hover with mouse*/
.button:hover {
  background-color: #db9471 !important;
  border-color: #db9471 !important;
}

/*selected */
.button:focus {
  background-color: #f6dec5 !important;
  border-color: #db9471 !important;
}

.button-text {
  color: #f6dec5 !important;
}

.dropdown {
  background-color: #db9471 !important;
  border-radius: 4px !important;
  display: inline-block !important;
  /*flex-direction: column !important;*/
  align-items: center !important;
  /*padding: 10px 16px !important;*/
  border-color: #db9471 !important;
}

/*selected */
.dropdown:focus {
  background-color: #db9471 !important;
  border-color: black !important;
  color: black !important;
}

.dropdown-menu {
  width: 100% !important;
}

.dropdown-content {
  /* dropdownItems */

  padding: 8px 16px !important;
  background: #ffffff !important;
}

.dropdown-content:hover {
  background-color: #7465134f !important;
}

.dropdown-content:focus {
  background-color: #746513 !important;
}
