.navbar {
  background-color: #635f46;
}

.navbar-placeholder {
  height: 78px;
}

.navbar-title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 35px;
  font-weight: bold;
  color: #f6dec5 !important;
  vertical-align: middle;
}
.navbar-logo {
  fill: #f6dec5 !important;
  vertical-align: middle;
}
.navbar-text {
  color: #f6dec5 !important;
}

a:not(.navbar-logo) {
  fill: #f6dec5 !important;
}
