.dropdown {
  background-color: #db9471 !important;
  border-radius: 4px !important;
  display: inline-block !important;
  /*flex-direction: column !important;*/
  align-items: center !important;
  /*padding: 10px 16px !important;*/
  border-color: #db9471 !important;
  box-shadow: none !important;
  min-width: 171px;
}

/*selected */
.dropdown:focus {
  background-color: #db9471 !important;
  border-color: black !important;
  color: black !important;
}

.dropdown-content {
  /* dropdownItems */

  padding: 8px 16px !important;
  /*background: #ffffff !important;*/
}

.dropdown-content:hover {
  background-color: #7465134f !important;
}

.dropdown-content:focus,
.dropdown-content.active {
  background-color: #746513 !important;
}
