.margin-top-35 {
  margin-top: 35px;
}
.margin-top {
  margin-top: 17px;
}

@media only screen and (max-width: 600px) {
  .margin-top-35 {
    margin-top: 25px;
  }
}

.dropdown-margin {
  margin-top: 35px;
  margin-right: 5%;
}
