.client-info-list-item {
  cursor: pointer;
  background: #fafafa;
  border: 1px solid #db9471;
  box-sizing: border-box;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 1%;
  line-height: 32px;
  max-width: 100%;
  word-break: break-word;
}

.client-info-list-item:hover,
.client-info-list-item:focus {
  background-color: #f4bfa7;
}

.client-info-list-item:active {
  background-color: #c48566;
}

.client-info-list-item:focus:not(.focus-visible) {
  box-shadow: 0 0 0 0.15rem #c48566 !important;
}

.client-info-list-item-arrow {
  width: fit-content;
  height: 100;
}

.client-name {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.info {
  width: fit-content;
  border-right: 1px solid #db9471;
}
