.table-row-status-prepared {
  color: rgb(130, 156, 44);
}
.table-row-status-waiting {
  color: #635f46;
}
.table-row-status-confirmed {
  color: darkolivegreen;
}
.table-row-status-done {
  color: rgb(68, 146, 4);
}
.table-row-status-not-covered {
  color: rgb(218, 104, 47);
}
.table-row-status-pending-cancelation {
  color: rgb(211, 2, 2);
}
.change-status {
  color: rgba(99, 95, 70, 1);
  font-weight: 400;
  font-style: italic;
  text-decoration-line: underline;
}

@media only screen and (max-width: 1028px) {
  .container-sm {
    background: #fafafa;
    border: 1px solid #db9471;
    box-sizing: border-box;
    border-radius: 15px;
    max-width: none;
    line-height: 30px;
  }
}
@media only screen and (max-width: 1028px) {
  .table-cell-visibility {
    display: none;
  }
}
@media only screen and (min-width: 1028.01px) {
  .table-cell-visibility-small {
    display: none;
  }
  .container.sm {
    margin: 0px;
  }
}
@media only screen and (max-width: 330px) {
  .small-text {
    font-size: 14px;
  }
}
