.table-row-status-prepared {
  color: #ff9e0a !important;
}
.table-row-status-done {
  color: green !important;
}
.change-status {
  color: rgba(99, 95, 70, 1);
  font-weight: 400;
  font-style: italic;
  text-decoration-line: underline;
}

@media only screen and (max-width: 1028px) {
  .container-sm {
    background: #fafafa;
    border: 1px solid #db9471;
    box-sizing: border-box;
    border-radius: 15px;
    max-width: none;
    line-height: 30px;
  }
}
@media only screen and (max-width: 1028px) {
  .table-cell-visibility {
    display: none;
  }
}
@media only screen and (min-width: 1028.01px) {
  .table-cell-visibility-small {
    display: none;
  }
  .container.sm {
    margin: 0px;
  }
}
@media only screen and (max-width: 330px) {
  .small-text {
    font-size: 14px;
  }
}
