.table-orders {
  margin-top: 20px;
}
.header-orders {
  color: #635f46 !important;
}
.table-header {
  line-height: 60px;
  font-weight: 600;
  border-bottom: 1px solid #db9471;
}
@media only screen and (min-width: 1028.01px) {
  .table-container {
    background: #fafafa;
    border: 1px solid #db9471;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 10px;
  }
}
@media only screen and (max-width: 1028px) {
  .table-header-visibility {
    display: none;
  }
}
