.btn-primary {
  background-color: #db9471 !important;
  border-color: #db9471 !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #f0a47e !important;
  border-color: #f0a47e !important;
}

.btn-primary:active {
  background-color: #c48566 !important;
  border-color: #c48566 !important;
}

.btn-primary:focus:not(.focus-visible) {
  box-shadow: 0 0 0 0.15rem #c48566 !important;
}

.dropdown-content {
  /* dropdownItems */

  padding: 8px 16px !important;
  /*background: #ffffff !important;*/
}

.dropdown-content:hover {
  background-color: #7465134f !important;
}

.dropdown-content:focus,
.dropdown-content.active {
  background-color: #746513 !important;
}
