.cart-order-summary {
  border: 1px solid black;
  padding: 3%;
  border-color: #db9471;
  border-radius: 15px;
  box-shadow: 0px 10px 5px rgb(192, 192, 192);
  margin-left: 1%;
}

.cart-order-summary-title {
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
}

.cart-order-summary-price {
  font-weight: bold;
  font-size: xx-large;
}

.cart-order-summary-form {
  margin: 1%;
}

.form-check-input:checked {
  background-color: #db9471;
  border-color: #db9471;
}

.cart-button-placeorder {
  margin-top: 2%;
  height: 4rem;
}

.cart-button-shopping {
  margin-top: 2%;
  height: 4rem;
}
