.cart-icon {
  fill: #635f46 !important;
  vertical-align: middle;
  padding-right: 10px;
  margin-bottom: 1%;
}
.title {
  color: #635f46 !important;
  vertical-align: middle;
  margin-bottom: 10px;
}
