.cart-button-shopping {
  margin-top: 2%;
  height: 4rem;
  width: 9rem;
}

.cart-button-placeorder {
  margin-top: 2%;
  height: 4rem;
  width: 9rem;
}

.cart-inverse-button {
  border: 2px solid black;
  background-color: whitesmoke !important;
  color: #db9471;
  width: auto;
  margin-left: 1%;
  border-color: #db9471;
}
.cart-inverse-button:hover {
  border: 2px solid black;
  background-color: #ece6e2 !important;
  color: #db9471 !important;
  width: auto;
  margin-left: 1%;
  border-color: #db9471;
}
.cart-inverse-button:focus {
  border: 2px solid black;
  background-color: #ece6e2 !important;
  color: #db9471 !important;
  width: auto;
  margin-left: 1%;
  border-color: #db9471;
}
.cart-button {
  border: 2px solid black;
  background-color: #db9471;
  width: auto;
  border-color: #db9471;
}
.cart-button:hover {
  border: 2px solid black;
  background-color: #d88054 !important;
  width: auto;
  border-color: #db9471 !important;
}
.cart-button:focus {
  border: 2px solid black;
  background-color: #d88054 !important;
  width: auto;
  border-color: #db9471;
}
