.item-cart{
    font-weight:500;
}
.my-pl-3{
    padding-left: 30px;
}
.table-heading{
    background-color: #7465132f;
    border-bottom: #635f4646 solid 1px;
    font-weight: bold;
    vertical-align: middle;
}
.shopping-cart-row{
    padding-bottom: 1%;
    padding-top: 1%;
    border-bottom: #635f4646 solid 1px;
}

@media only screen and (max-width:765px) {
    .my-pl-3{
    padding-left: 10px;
    }
}
@media only screen and (min-width: 765px) and (max-width:1150px) {
    .my-pl-3{
        padding-left: 100px;
        padding-right: 30px;
    }
  }
