.button {
  background-color: #db9471 !important;
  border-radius: 4px !important;
  display: inline !important;
  align-items: center !important;
  padding: 6px 16px !important;
  border-color: #db9471 !important;
  box-shadow: none !important;
}

/*Hover with mouse*/
.button:hover {
  background-color: #db9471 !important;
  border-color: #db9471 !important;
}

/*selected */
.button:focus {
  background-color: #db9471 !important;
  border-color: black !important;
  color: black !important;
}

.button-text {
  color: #f6dec5 !important;
}
