.form-control:focus {
  box-shadow: none !important;
  border-color: rgba(20, 132, 197, 0.644) !important;
}

.error-message {
  color: rgb(255, 102, 0);
}

#formBox {
  box-shadow: 0px 5px 10px 0px rgba(53, 58, 64, 0.3);
}
.form-group {
  margin: 20px;
}
