.bottom-border-form {
  border-bottom: 2px solid #c4c4c4;
}
.type-reports {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 16px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  color: #635f46;
  cursor: pointer;
}

.type-reports-selected {
  font-weight: bold;
}
