swagger: "2.0"
info:
  description: >-
    The APIs definitions for the Solidarity Purchasing Group application.
  version: 1.0.0
  title: SPG - Solidarity Purchasing Group
host: to-be-defined.com
basePath: /api
tags:
  - name: auth
  - name: client
  - name: employee
  - name: farmer
  - name: order
  - name: product
  - name: availability
  - name: stats
  - name: week-phase
  - name: testing
schemes:
  - https
  - http
paths:
  # ------------
  # AUTH METHODS
  # ------------

  /users/login:
    post:
      tags:
        - auth
      summary: Allows a user to login
      description: Allows a user to login based on the provided credentials
      operationId: loginUser
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: credentials
          required: true
          schema:
            type: object
            properties:
              email:
                type: string
                format: email
                description: Email of the user to login
                example: user@email.com
              password:
                type: string
                description: Password of the user to login
                example: password
      responses:
        "200":
          description: Success (The return model changes according to the user type)
          schema:
            $ref: "#/definitions/ClientInfoResult"
        "401":
          description: Unauthorized - The login process failed
        "500":
          description: Internal Server Error

  /users/current:
    get:
      tags:
        - auth
      summary: Returns the currently logged user
      description: Returns the currently logged user, if any
      operationId: getCurrentUser
      produces:
        - application/json
      responses:
        "200":
          description: Success (The return model changes according to the user type)
          schema:
            $ref: "#/definitions/ClientInfoResult"
        "204":
          description: No Content
    delete:
      tags:
        - auth
      summary: Allows the currently logged user to logout
      description: Allows the currently logged user to logout. If no user is logged, this is a no-op.
      operationId: logoutUser
      produces:
        - application/json
      responses:
        "204":
          description: No Content

  /products:
    post:
      tags:
        - product
      summary: Create a product
      description: Add a new product in the database
      operationId: createProduct
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/CreateProductParams"
      responses:
        "200":
          description: Success
          schema:
            type: object
            properties:
              id:
                type: string

        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
    get:
      tags:
        - product
      summary: List all the available products
      description: "Products can be filtered by name and farmer or/and selecting a category. It can also accept a list of productIDs to be retrieved. Filters will not be applied and it will also return unavailable products."
      operationId: getProducts
      produces:
        - application/json
      parameters:
        - in: query
          name: category
          type: string
          description: Filter the products by category
        - in: query
          name: searchString
          type: string
          description: Filter the products by any substring related to the product (name of the product, name of the farmer, description)
        - in: query
          name: IDs
          type: string
          description: String of productsID commas separated. If this is set, other filters are not applied and it will also return unavailable products.
      responses:
        "200":
          description: Success
          schema:
            type: array
            items:
              $ref: "#/definitions/ProductResult"
        "400":
          description: Bad Request - The request contains invalid parameters
        "500":
          description: Internal Server Error

  /orders:
    get:
      tags:
        - order
      summary: List all the existing client's orders
      description: "Retrieve all the orders for the client associated to the given ID"
      operationId: getClientOrders
      produces:
        - application/json
      parameters:
        - in: query
          name: clientID
          type: string
          description: Get Client Orders given ClientID
      responses:
        "200":
          description: Success
          schema:
            type: array
            items:
              $ref: "#/definitions/Order"
        "400":
          description: Bad Request - The request contains invalid parameters
        "401":
          description: Unauthorized - The user is not logged or is not allowed to make this action
        "500":
          description: Internal Server Error
    post:
      tags:
        - order
      summary: Create a new order
      description: "Insert a new order into the system"
      operationId: createOrder
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: Order object to be added to the database
          required: true
          schema:
            $ref: "#/definitions/CreateOrderParams"
      responses:
        "200":
          description: Success
          schema:
            type: object
            properties:
              id:
                type: string
        "400":
          description: Bad Request - The request contains invalid parameters
        "401":
          description: Unauthorized - The user is not logged or is not allowed to make this action
        "403":
          description: Forbidden - The action cannot be executed in the current week phase
        "500":
          description: Internal Server Error

  /orders/{orderID}:
    get:
      tags:
        - order
      summary: retrieve the order with orderID
      description: "Retrieve the order associated to the given ID"
      operationId: getOrderByID
      produces:
        - application/json
      parameters:
        - in: path
          required: true
          name: orderID
          type: string
          description: Get Order with given orderID
      responses:
        "200":
          description: Success
          schema:
            items:
              $ref: "#/definitions/Order"
        "400":
          description: Bad Request - The request contains invalid parameters
        "401":
          description: Unauthorized - The user is not logged or is not allowed to make this action
        "500":
          description: Internal Server Error

  /orders/{orderID}/complete:
    patch:
      tags:
        - order
      summary: Set an order as completed
      description: Set the order associated to the given orderID as completed
      operationId: completeOrder
      produces:
        - application/json
      parameters:
        - in: path
          required: true
          name: orderID
          type: string
          description: The ID of the order to set as completed
      responses:
        "204":
          description: Success
        "400":
          description: Bad Request - The request contains invalid parameters
        "401":
          description: Unauthorized - The user is not logged or is not allowed to make this action
        "403":
          description: Forbidden - The action cannot be executed in the current week phase
        "500":
          description: Internal Server Error

  /orders/{orderID}/pickUpSlot:
    patch:
      tags:
        - order
      summary: update the shipmentInfo of an order
      description: Updates the shipmentInfo associated to the given orderID, based on the information stored in the body
      operationId: updateShipmentInfo
      produces:
        - application/json
      parameters:
        - in: path
          required: true
          name: orderID
          type: string
          description: The ID of the order to set as completed
        - in: body
          name: body
          description: New ShipmentInfo of the order
          required: true
          schema:
            type: object
            properties:
              pickUpSlot:
                type: string
                example: 50900
                description: Format dhhmm dayOfTheWeekHourMinute
      responses:
        "204":
          description: Success
        "400":
          description: Bad Request - The request contains invalid parameters
        "401":
          description: Unauthorized - The user is not logged or is not allowed to make this action
        "403":
          description: Forbidden - The action cannot be executed in the current week phase
        "500":
          description: Internal Server Error

  /clients/{clientID}:
    get:
      tags:
        - client
      summary: Get a registered client details
      description: "Get the client details given its ID."
      operationId: getClientByID
      produces:
        - application/json
      parameters:
        - in: path
          required: true
          name: clientID
          type: string
          description: Parameter that identify and select the Client
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ClientInfoResult"
        "400":
          description: Bad Request - The request contains invalid parameters
        "404":
          description: Not Found
        "500":
          description: Internal Server Error

  /clients/{clientID}/wallet:
    patch:
      tags:
        - client
      summary: Increase the wallet of a client
      description: in the body there will be the value
      operationId: addFundToWallet
      consumes:
        - application/json
      parameters:
        - in: path
          required: true
          name: clientID
          type: string
          description: Parameter that identify and select the Client
        - in: body
          name: body
          required: true
          schema:
            type: object
            properties:
              increaseBy:
                type: number
                example: 55.50
          description: The value to be added to the wallet
      responses:
        "200":
          description: Success
          schema:
            type: object
            properties:
              newWalletValue:
                type: number
                example: 1023.23
        "400":
          description: Bad Request - The request contains invalid parameters
        "401":
          description: Unauthorized - The user is not logged or is not allowed to make this action
        "500":
          description: Internal Server Error

  /clients:
    post:
      tags:
        - client
      summary: Create a new client
      description: "Insert a new client into the system"
      operationId: createClient
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: Client object to be added to the database
          required: true
          schema:
            $ref: "#/definitions/SignupClientParams"
      responses:
        "200":
          description: Success
          schema:
            type: object
            properties:
              id:
                type: string
        "400":
          description: Bad Request - The request contains invalid parameters
        "401":
          description: Unauthorized - The user is not logged or is not allowed to make this action
        "500":
          description: Internal Server Error
    get:
      tags:
        - client
      summary: Find matching clients
      description: "Find matching clients given a search string"
      operationId: findClients
      produces:
        - application/json
      parameters:
        - in: query
          name: searchString
          type: string
          description: Parameter used in searching matching Clients (in any way, i.e. address, fullname, etc...)
        - in: query
          name: hasPendingCancelation
          type: boolean
          description: "Parameter used to filter clients based by order status: PENDING-CANCELATION"
      responses:
        "200":
          description: Success
          schema:
            type: array
            items:
              $ref: "#/definitions/ClientInfoResult"
        "400":
          description: Bad Request - The request contains invalid parameters
        "401":
          description: Unauthorized - The user is not logged or is not allowed to make this action
        "500":
          description: Internal Server Error

  /clients/signup:
    post:
      tags:
        - client
      summary: Allows a client to signup
      description: Allows a client to signup storing his details and credentials
      operationId: signupClient
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          description: details and credentials object to signup
          schema:
            $ref: "#/definitions/SignupClientParams"
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request - The request contains invalid parameters
        "500":
          description: Internal Server Error

  /employee/login:
    post:
      tags:
        - employee
      summary: Allow an employee to login
      description: Allows a client to login based on the provided credentials
      operationId: loginEmployee
      consumes:
        - application/json
      parameters:
        - in: body
          required: true
          description: credentials to request authentication
          name: credentials
          schema:
            type: object
            properties:
              email:
                type: string
                format: email
                description: Email of the employee to login
                example: employee@email.com
              password:
                type: string
                description: Password of the employee to login
                example: password
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/EmployeeInfoResult"
        "400":
          description: Bad Request - The request contains invalid parameters
        "401":
          description: Unauthorized - The user is not logged or is not allowed to make this action
        "500":
          description: Internal Server Error

  /weekPhases/current:
    get:
      tags:
        - week-phase
      summary: Retreive the current active week phase
      description: Retreive the current active week phase. This must be used by the front end to only allow actions compatible with the current active phase. Actions made outside of the week phase, for which they are enabled, will return an error.
      operationId: getCurrentWeekPhase
      produces:
        - application/json
      responses:
        "200":
          description: Success
          schema:
            type: object
            properties:
              activePhase:
                type: string
                example: "order-creation"
        "500":
          description: Internal Server Error

  /farmers/{farmerID}/products:
    get:
      tags:
        - farmer
      summary: Get the filtered products associated to a specific farmer
      description: Get all the products associated to a specific farmer, filtered by category a searchString and/or if it has a productAvailability associated for the current week
      operationId: getFarmerProducts
      produces:
        - application/json
      parameters:
        - in: query
          name: category
          type: string
          description: Filter the products by category
        - in: query
          name: searchString
          type: string
          description: Filter the products by any substring related to the product (name of the product, name of the farmer, description)
        - in: query
          name: isAvailable
          type: boolean
          description: Return only the products with (true) or without (false) availability set. If this field is not defined, all the products will be returned.
      responses:
        "200":
          description: Success
          schema:
            type: array
            items:
              $ref: "#/definitions/ProductResult"
        "400":
          description: Bad Request - The request contains invalid parameters
        "401":
          description: Unauthorized - The user is not logged or is not allowed to make this action
        "500":
          description: Internal Server Error

  /products/{productID}:
    get:
      tags:
        - product
      summary: Get a product details and its availability if exist
      description: "Get the product details and its availability if exist given its ID."
      operationId: getProductByID
      produces:
        - application/json
      parameters:
        - in: path
          required: true
          name: productID
          type: string
          description: Parameter that identify and select the Product
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ProductResult"
        "400":
          description: Bad Request - The request contains invalid parameters
        "404":
          description: Not Found
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error

  /testing/weekPhases/current:
    patch:
      tags:
        - testing
      summary: Override the current active week phase
      description: Sets the current active week phase to a fixed one for testing purposes. Changing a week phase means triggering the week phase change handler.
      operationId: setPhaseOverride
      produces:
        - application/json
      responses:
        "204":
          description: Success
        "400":
          description: Bad Request - The request contains invalid parameters
        "500":
          description: Internal Server Error

  /testing/database/reset:
    get:
      tags:
        - testing
      summary: Resets the testing database to the initial snapshot
      description: Resets the testing database to the initial snapshot to cleanup testing gone wrong.
      operationId: resetTestingDatabase
      produces:
        - application/json
      responses:
        "204":
          description: Success
        "500":
          description: Internal Server Error

  /availabilities/{productID}:
    post:
      tags:
        - availability
      summary: Set a product availability for the next week.
      description: Set a product availability for the next week.
      operationId: setNextWeekProductAvailability
      produces:
        - application/json
      parameters:
        - in: path
          required: true
          name: productID
          type: string
          description: Parameter that identify and select the Product
        - in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/SetNextWeekProductAvailabilityParams"
      responses:
        "200":
          description: Success
          schema:
            type: object
            properties:
              id:
                type: string
        "400":
          description: Bad Request - The request contains invalid parameters
        "404":
          description: Not Found
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error

  /availabilities/{availabilityID}:
    get:
      tags:
        - availability
      summary: Get the availability by its ID
      description: "Get the availability given its ID."
      operationId: getAvailabilityByID
      produces:
        - application/json
      parameters:
        - in: path
          required: true
          name: availabilityID
          type: string
          description: Parameter that identify and select the Availability
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ProductAvailabilityResult"
        "400":
          description: Bad Request - The request contains invalid parameters
        "404":
          description: Not Found
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
    patch:
      tags:
        - availability
      summary: Update the availability of the product.
      description: Update the quantity value of the products'availability . It will not modify or update any clients orders. This function can be called only if the product is not yet confirmed by the farmer
      operationId: updateAvailabilityByID
      produces:
        - application/json
      parameters:
        - in: path
          required: true
          name: availabilityID
          type: string
          description: Parameter that identify and select the Availability
        - in: body
          name: body
          required: true
          schema:
            type: object
            properties:
              quantity:
                type: integer

      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request - The request contains invalid parameters
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error

  /availabilities/{availabilityID}/confirm:
    patch:
      tags:
        - availability
      summary: Updates the status of the product's availability to "CONFIRMED".
      description: Updates the status of the product's availability to "CONFIRMED". Then it checks every order of the current week with this product. For each order, it will update the OrderProduct's status based on the quantity of the product ("CONFIRMED","MODIFIED","CANCELED"). At the start the OrderProduct status is "WAITING".
      operationId: confirmProductAvailabilityByID
      produces:
        - application/json
      parameters:
        - in: path
          required: true
          name: availabilityID
          type: string
          description: Parameter that identify and select the availability
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request - The request contains invalid parameters
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error

  /availabilities/{productID}/nextWeek:
    get:
      tags:
        - availability
      summary: Get the next week availability.
      description: It return the next week availability given a productID.
      operationId: getNextWeekProductAvailability
      produces:
        - application/json
      parameters:
        - in: path
          required: true
          name: productID
          type: string
          description: Parameter that identify and select the Product
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ProductAvailabilityResult"
        "400":
          description: Bad Request - The request contains invalid parameters
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          description: Internal Server Error

  /availabilities/{productID}/currentWeek:
    get:
      tags:
        - availability
      summary: Get the current week availability.
      description: It return the current week availability given a productID.
      operationId: getNextWeekProductAvailability
      produces:
        - application/json
      parameters:
        - in: path
          required: true
          name: productID
          type: string
          description: Parameter that identify and select the Product
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ProductAvailabilityResult"
        "400":
          description: Bad Request - The request contains invalid parameters
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          description: Internal Server Error

  /stats/orders/unretrieved/weekly:
    get:
      tags:
        - stats
      summary: Get the order stats related to the specified week
      description: week and year are passed in the query and returns a JSON with total numbers of orders and total number of unretrieved orders of that week. If no params are passed in the query the stats are computed from the beginning.
      operationId: getWeeklyOrdersStat
      produces:
        - application/json
      parameters:
        - in: query
          name: week
          type: integer
          description: Select the week number inside the year
        - in: query
          name: year
          type: integer
          description: Select the year
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/UnretrievedOrdersStats"
        "400":
          description: Bad Request - The request contains invalid parameters
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error

  /stats/orders/unretrieved/timeInterval:
    get:
      tags:
        - stats
      summary: Get the order stats related to the specified time interval
      description: startWeek, startYear and endWeek, endYear are passed in the query, and it returns a JSON with total numbers of orders and total number of unretrieved orders
      operationId: getWeekIntervalOrdersStat
      produces:
        - application/json
      parameters:
        - in: query
          name: startWeek
          type: integer
          description: Select the start week number
        - in: query
          name: endWeek
          type: integer
          description: Select the end week number
        - in: query
          name: startYear
          type: integer
          description: Select the start year number
        - in: query
          name: endYear
          type: integer
          description: Select the end year number
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/UnretrievedOrdersStats"
        "400":
          description: Bad Request - The request contains invalid parameters
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error

definitions:
  ClientInfo:
    description: "At least one between email and (fullName, address, phoneNumber) are required"
    type: object
    additionalProperties: false
    required:
      - id
      - password
      - email
      - role
      - fullName
      - phoneNumber
      - address
      - wallet
    properties:
      id:
        type: string
        format: bsonID
      password:
        type: string
        minLength: 6
        example: basePassword
      email:
        type: string
        format: email
        example: mariorossi@gmail.com
      role:
        type: string
        enum:
          - client
          - employee
          - farmer
          - manager
        default: client
      fullName:
        type: string
        maxLength: 35
        example: Mario Rossi
      phoneNumber:
        type: string
        maxLength: 15
        example: "33475654545"
      address:
        type: string
        maxLength: 60
        example: Via dei castagni 7a|Torino|TO|10140
      wallet:
        type: number
  EmployeeInfo:
    type: object
    additionalProperties: false
    required:
      - id
      - password
      - email
      - role
      - fullname
    properties:
      id:
        type: string
        format: bsonID
      password:
        type: string
        minLength: 6
      email:
        type: string
        format: email
      role:
        type: string
        default: employee
      fullname:
        type: string
        maxLength: 35
  FarmerInfo:
    description: "At least one between email and (fullName, address) are required"
    type: object
    additionalProperties: false
    required:
      - id
      - password
      - email
      - role
      - fullName
      - address
    properties:
      id:
        type: string
        format: bsonID
      password:
        type: string
        minLength: 6
        example: basePassword
      email:
        type: string
        format: email
        example: mariorossi@gmail.com
      role:
        type: string
        default: farmer
      fullName:
        type: string
        maxLength: 35
        example: Mario Rossi
      address:
        type: string
        maxLength: 60
        example: Via dei castagni 7a|Torino|TO|10140
  Order:
    type: object
    additionalProperties: false
    required:
      - id
      - clientID
      - products
      - totalPrice
      - status
      - createdAt
      - shipmentInfo
    properties:
      id:
        type: string
        format: bsonID
      clientID:
        type: string
        format: bsonID
      products:
        type: array
        items:
          $ref: "#/definitions/OrderProduct"
        example: "{$productID:$quantity,...}"
      totalPrice:
        type: number
      status:
        type: string
        enum:
          - WAITING
          - NOT-COVERED
          - PENDING-CANCELATION
          - CONFIRMED
          - PREPARED
          - DONE
          - UNRETRIEVED
      createdAt:
        type: string
        format: date-time
      shipmentInfo:
        $ref: "#/definitions/ShipmentInfo"
  OrderProduct:
    type: object
    additionalProperties: false
    required:
      - productID
      - quantity
      - price
      - packaging
      - status
    properties:
      productID:
        type: string
        format: bsonID
      quantity:
        type: integer
      price:
        type: number
      packaging:
        type: string
      status:
        type: string
        enum:
          - WAITING
          - CONFIRMED
          - MODIFIED
          - CANCELED
    description: "each product in an order can have different status. WAITING-FOR-CONFIRMATION means that the farmer hasn't yet confirmed the product, CONFIRM means that he confirmed the product and the quantity requested is entirely fulfilled. MODIFIED means that the quantity requested is not entirely covered by the confirmed availability. CANCELED means that there are no more products available for this order"
  Product:
    type: object
    additionalProperties: false
    required:
      - id
      - farmerID
      - name
      - description
      - category
    properties:
      id:
        type: string
        format: bsonID
      farmerID:
        type: string
        format: bsonID
      name:
        type: string
        maxLength: 25
        example: Potato
      description:
        type: string
        maxLength: 100
      category:
        type: string
        enum:
          - fruit
          - vegetables
          - spreadable creams
          - meat
          - eggs
          - milk
  CreateOrderParams:
    type: object
    additionalProperties: false
    required:
      - clientID
      - products
      - shipmentInfo
    properties:
      clientID:
        type: string
        format: bsonID
      products:
        type: array
        items:
          type: object
          properties:
            productID:
              type: string
              format: bsonID
            quantity:
              type: integer
        example: "{$productID:$quantity,...}"
      shipmentInfo:
        $ref: "#/definitions/ShipmentInfo"
  CreateProductParams:
    type: object
    additionalProperties: false
    required:
      - name
      - description
      - category
      - farmerID
    properties:
      farmerID:
        type: string
        format: bsonID
      name:
        type: string
        maxLength: 25
        example: Potato
      description:
        type: string
        maxLength: 100
      category:
        type: string
        enum:
          - fruit
          - vegetables
          - spreadable creams
          - meat
          - eggs
          - milk
  SignupClientParams:
    type: object
    additionalProperties: false
    required:
      - email
      - fullname
      - address
      - password
    properties:
      password:
        type: string
        minLength: 6
        example: basePassword
      email:
        type: string
        format: email
        example: mariorossi@gmail.com
      fullName:
        type: string
        maxLength: 35
        example: Mario Rossi
      address:
        type: string
        maxLength: 60
        example: Via dei castagni 7a|Torino|TO|10140
  SetNextWeekProductAvailabilityParams:
    type: object
    additionalProperties: false
    required:
      - price
      - packaging
      - quantity
    properties:
      price:
        type: number
      packaging:
        type: string
        example: "'2lt', '1kg', '100g', '6 pcs', '4 units'"
      quantity:
        type: integer
  ClientInfoResult:
    description: "Return model for methods which return ClientInfo (sensitive data is stripped). At least one between email and (fullName, address) are required"
    type: object
    additionalProperties: false
    required:
      - id
      - email
      - role
      - fullName
      - address
      - phoneNumber
      - wallet
      - hasNotCoveredOrders
      - missedPickupsCount
    properties:
      id:
        type: string
        format: bsonID
      email:
        type: string
        format: email
        example: mariorossi@gmail.com
      role:
        type: string
        enum:
          - client
          - employee
          - farmer
          - manager
        default: client
      fullName:
        type: string
        maxLength: 35
        example: Mario Rossi
      address:
        type: string
        maxLength: 60
        example: Via dei castagni 7a|Torino|TO|10140
      phoneNumber:
        type: string
        maxLength: 15
        example: "33475654545"
      wallet:
        type: number
      hasPendingCancelation:
        type: boolean
        description: "if the client has at least one pending-cancelation order hasPendingCancelation will be set to true"
      hasNotCovered:
        type: boolean
        description: "if the client has at least one not-covered order hasNotCovered will be set to true"
      missedPickupsCount:
        type: integer
        description: Number of pickups not retrieved
  EmployeeInfoResult:
    description: Return model for methods which return EmployeeInfo (sensitive data is stripped).
    type: object
    additionalProperties: false
    required:
      - id
      - email
      - role
      - fullname
    properties:
      id:
        type: string
        format: bsonID
      email:
        type: string
        format: email
      role:
        type: string
        default: employee
      fullname:
        type: string
        maxLength: 35
  FarmerInfoResult:
    description: Return model for methods which return FarmerInfo (sensitive data is stripped).
    type: object
    additionalProperties: false
    required:
      - id
      - email
      - role
      - fullName
      - address
    properties:
      id:
        type: string
        format: bsonID
      email:
        type: string
        format: email
        example: mariorossi@gmail.com
      role:
        type: string
        default: farmer
      fullName:
        type: string
        maxLength: 35
        example: Mario Rossi
      address:
        type: string
        maxLength: 60
        example: Via dei castagni 7a|Torino|TO|10140
  ProductAvailabilityResult:
    description: Return model for methods which return the Product Availability.
    type: object
    additionalProperties: false
    required:
      - id
      - farmerID
      - productID
      - week
      - year
      - price
      - packaging
      - quantity
      - leftQuantity
      - status
    properties:
      id:
        type: string
        format: bsonID
      farmerID:
        type: string
        format: bsonID
      productID:
        type: string
        format: bsonID
      week:
        type: integer
        example: 34
      year:
        type: integer
        example: 2021
      price:
        type: number
      packaging:
        type: string
        example: "'2lt', '1kg', '100g', '6 pcs', '4 units'"
      quantity:
        type: integer
      leftQuantity:
        type: integer
        description: "when the farmer estimates quantity, leftQuantity will be set at the same value of it"
      confirmedStatus:
        type: string
        enum:
          - WAITING
          - CONFIRMED
        description: used to spedify if the product quantuty was confirmed by the farmed or not
  ShipmentInfo:
    type: object
    additionalProperties: false
    required:
      - type
      - date
      - address
    properties:
      type:
        type: string
      pickUpSlot:
        type: string
      address:
        type: string
  ProductResult:
    description: Return model for methods which return Product. It also contains the information about current week availability.
    type: object
    additionalProperties: false
    required:
      - id
      - farmerID
      - name
      - description
      - category
      - ProductAvailabilityResult
    properties:
      id:
        type: string
        format: bsonID
      farmerID:
        type: string
        format: bsonID
      name:
        type: string
        maxLength: 25
        example: Potato
      description:
        type: string
        maxLength: 100
      category:
        type: string
        enum:
          - fruit
          - vegetables
          - spreadable creams
          - meat
          - eggs
          - milk
      ProductAvailabilityResult:
        $ref: "#/definitions/ProductAvailabilityResult"
  UnretrievedOrdersStats:
    description: Return model for the stats of weekly and time interval unretrieved orders.
    type: object
    additionalProperties: false
    required:
      - totalCount
      - unretrievedCount
    properties:
      totalCount:
        type: integer
        format: bsonID
      unretrievedCount:
        type: integer
        format: bsonID
